$('#favorite-button-notice').empty();
$('#favorite-button-notice').append('<p class="text-success small">お気に入り登録を解除しました</p>');
$('#favorite-button').html("<%= escape_javascript(render('favorites/favorite_button', user: @favorite.to_user)) %>");