%h1 Users#show

%h2 Questions
.row
  - @questions.each do |question|
    = render question
= link_to "more questions", questions_user_path(@user)

%h2 Answers
.row
  - @answers.each do |answer|
    = render answer
= link_to "more answers", answers_user_path(@user)
